modules = ["web", "python-base-3.13", "nodejs-22"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[userenv]

[userenv.shared]
AUTO_LIKE_STATUS = "false"
AUTO_READ_STATUS = "false"
MODE = "public"
TIME_ZONE = "Africa/Lagos"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[deployment]
deploymentTarget = "vm"
run = ["node", "--max-old-space-size=512", "index.js"]
